.nav-container-bg{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/nav-bg.png');
    min-height: 100vh;
    background-size: cover;
}
.nav-bg{
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.2);    
}
.sinlge-nav-link:hover{
    color: #E37A16;
}
.nav-btn:hover{
    opacity: 0.8;
}