.work-img-1-bg{
    background-image: url('../../../../assets/images/works-img-1.png');
}
.work-img-2-bg{
    background-image: url('../../../../assets/images/works-img-2.png');
}
.work-img-3-bg{
    background-image: url('../../../../assets/images/works-img-3.png');
}
.work-img-4-bg{
    background-image: url('../../../../assets/images/works-img-4.png');
}
.work-img-5-bg{
    background-image: url('../../../../assets/images/works-img-5.png');
}
.work-img-6-bg{
    background-image: url('../../../../assets/images/works-img-6.png');
}
.work-img-7-bg{
    background-image: url('../../../../assets/images/works-img-7.png');
}
.work-img-8-bg{
    background-image: url('../../../../assets/images/works-img-8.png');
}
.work-img-9-bg{
    background-image: url('../../../../assets/images/works-img-9.png');
}
.work-img-10-bg{
    background-image: url('../../../../assets/images/works-img-10.png');
}
.work-img-11-bg{
    background-image: url('../../../../assets/images/works-img-11.png');
}
.work-img-12-bg{
    background-image: url('../../../../assets/images/works-img-12.png');
}


.team-img-1{
    background-image: url('../../../../assets/images/team-img-1.png');
}
.team-img-2{
    background-image: url('../../../../assets/images/team-img-2.png');
}
.team-img-3{
    background-image: url('../../../../assets/images/team-img-3.png');
}
.team-img-4{
    background-image: url('../../../../assets/images/team-img-4.png');
}
.team-img-5{
    background-image: url('../../../../assets/images/team-img-5.png');
}





/* view three works  */
.view-three-works-modal-container{
    background-color: #222222CC;
    border-radius: 5px;
    padding: 40px;
}