html, body{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'DmSans';
  src: url('./assets/fonts/dmSans/DMSans.ttf');
}

.horizontal-scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
}

.horizontal-scroll-content {
  display: flex;
  justify-content: start;
  align-items: center;
  width: max-content;
}

.horizontal-scroll-items {
  display: flex;
  gap: 20px;
  animation: scroll 10s linear infinite;
}

/* Keyframe animation for scrolling */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


input::placeholder{
  color: #D9D9D9;
  font-family: Poppins;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.clickable{
  cursor: pointer;
}

.bg-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

button, input, textarea{
  border: none;
  outline: none;
}

input:focus, textarea:focus{
  outline: none;
}